<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale-1.0">
    <link rel="stylesheet" href="#">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  href="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="open">OpenCV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="builder">BuilderCV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="personal">Personal</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="tipsArea">
                    <h3 class="tipsBuilder">Tips</h3>
                    <div class="tipsText">
                        <p>
                            Keep it short.
                        </p>
                        <p>
                            Describe your experience as bullet points, and format them roughly as "Did X, which lead to Y".
                        </p>
                        <p>
                            People who will read your resumes, won't click on every link, they won't read it in detail, read about 10 second rule
                        </p>
                        <p>
                            Good site to read about making your resume: <a href="https://www.interviews.school/resume">link</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="textArea">
                    <textarea id="my-expressjs-tinymce-app">Hello, World!</textarea>

                    <!-- Script element sourcing TinyMCE -->
                    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
                    <!-- Script element sourcing the TinyMCE configuration -->
                    <script type="application/javascript" src= "/javascripts/my-tinymce-config.js"></script>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>
