<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale-1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="#">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link"  href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="open">OpenCV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="builder">BuilderCV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="personal">Personal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div col="col">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="listOfResumes">Your resumes</h2>
                            <button class="uploadCV">"Upload your resume"</button>
                        </div>
                    </div>
                </div>
                <div col="col">
                    <div class="card">
                        <div class="card-body">
                            <img src="http://api.qrserver.com/v1/create-qr-code/?data=never gonna give you up&size=100*10" class="qrCode"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>