.nav-item a{
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: rgba(255, 255, 255, 0.473);
}
.bulletPoint p{
    margin-top: 100px;
    font-weight: bold;
}